<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1><br>
    <p><h2>Enter your phrase:</h2></p>
    <form action="/piglatinize" method="POST">
      <input type="text" id="user_phrase" name="user_phrase"/>
      <input type="submit" id="submit">
    </form>
  </body>
</html>